# SHOPIFY
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=store_domain_here
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=storefront_token_here
NEXT_PUBLIC_SHOPIFY_API_VERSION=api_version_here

# VERCEL (DEPLOY / ENV)
VERCEL_TOKEN=vercel_token_here
VERCEL_ORG_ID=org_id_here
VERCEL_PROJECT_ID=project_id_here
VERCEL_ENV=development

# Telegram Bot
TELEGRAM_BOT_TOKEN=123456789:AAtelegram_token_here